.terms-and-conditions-top-container {
  padding: 2%; // for desktop
  @media only screen and (max-width: 600px) {
    padding: 4%; //for phones
  }
  h3 {
    color: #848a84;
  }
  .signature {
    p {
      margin-bottom: 0;
    }
  }
}
