.terms-and-conditions-top-container {

  h3 {
    color: #848a84;
  }

  .signature {
    p {
      margin-bottom: 0;
    }
  }

  .terms-en {
    font-family:"Copperplate";
font-size:large;

  }
  .terms-ar {
    direction: rtl;
    text-align: right;
   

@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
font-family: 'Droid Arabic Kufi', serif;

    font-size: larger;
  }
}
