.prize-money-top-container {

  h3 {
    color: #848a84;
  }
  .signature {
    p {
      margin-bottom: 0;
    }
  }
  .races-prizes-en{
font-family:"Copperplate";

  }
  .races-prizes-ar{
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
font-family: 'Droid Arabic Kufi', serif;
    h4{
      text-align: right;
    }
    &>div{
      direction: rtl;
      td{
        text-align: right;
      }
    }
  }
}
